@charset "UTF-8";

*{
  margin: 0;
  padding:0;
  list-style: none;
}
.k{
  width: 1200px;
  margin:0 auto;
}
.clearfox:after{
  content: '';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.clear:after{
  zoom: 1;
}
.dh{
  background-color: #eeeeee;
  .k{
    img{
      width: 1200px;
    }
  }
}

.nav1{
  background-color: #333333;
  .k{
    ul{
      float: left;
      padding: 15px 0;
      font-size: 12px;
        li{
          padding:0 10px;
          color: #eee;
          float: left;
          border-right:1px solid #ccc ;
          a{
            color: #b0b0b0;
          }
          a:hover{
            color: #fff;
          }
        }
    }
    .right{
      float: right;
      .one{
        li:nth-of-type(3){
          border: none;
          a{
            color: #b0b0b0;
          }
          a:hover{
            color: #fff;
          }
        }
       }
      .two{
          background-color: #424242;
          padding: 0;
        li{
          border: none;
          padding: 15px 10px;
          position: relative;
          a{
            color: #b0b0b0;
          }
          div{
            width: 320px;
            height: 97px;
            background-color: #fff;
            position: absolute;
            top:46px;
            left:-231px;
            z-index: 111;
            color: #999;
            text-align: center;
            line-height: 97px;
            display: none;
          }
        }
        li:hover{
          background-color: #fff;
          a{color: #FF6700;}
          div{
            transform: translateY(0px);
            box-shadow: 0 5px 10px grey;
            display: block;
          }
        }
      }

    }
  }
}

.nav2{
  position: relative;
  .k{
    .img{
      float: left;
      margin-right: 50px;
      padding: 32px 0;
    }
    ul{
      float: left;
      font-size: 14px;
      li{
        float: left;
        padding: 49px 5px;
        a{
          color: #333333;
        }
        div{
          width: 1349px;
          height: 232px;
          background-color: #fff;
          border-top: 1px solid #ccc;
          position: absolute;
          top:120px;
          left:0;
          z-index: 112;
          display: none;
          ul{
            margin-left: 50px;
            li{
              margin: 20px 0;
              border-right: 1px solid #ccc;
              padding: 0 30px;
              text-align: center;
              img{
                width: 87px;
                height: 107px;
                .p1{
                  font-size: 14px;
                  color: #ccc;
                }
                .p2{
                  font-size: 16px;
                  color: orangered;
                }
              }
            }
          }
        }
      }
    }
    .box{
      width: 298px;
      border: 1px solid #ccc;
      float: right;
      height: 48px;
      margin: 30px 0;
      .left{
        width: 244px;
        border-right: 1px solid #ccc;
        position: relative;
        height: 48px;

        input{
          width: 100%;
         height: 100%;
          z-index: 111;
        }
        span{
          position: absolute;
          top: 15px;
          background-color: #ccc;
        }
        span:nth-of-type(1){
          left:35px
        }
        span:nth-of-type(2){
            right: 22px;
        }
      }
      .right{
        width: 51px;
        height: 48px;
        position: relative;
        input{
          width: 100%;
          hight: 100%;
        }
        img{
          position: absolute;
          top:15px;
          left:15px;
        }
      }
    }
  }
}

.banner{
  width: 1200px;
  height: 463px;
  margin: 0 auto;
  position: relative;
  .swiper-container{
    width: 100%;
    height: 100%;
    position: relative;
    .swiper-slide{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .swiper-pagination{
      width: 130px;
      position: absolute;
      left: 1050px;
      bottom: 20px;
    }
    .swiper-button-prev{
      position: absolute;
      left: 255px;
    }
  }

  .left{
    float: left;
    width: 250px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    z-index: 111;
    ul{
      position: relative;
      li{
        font-size: 14px;
        padding: 13.6px 40px;
        color: #fff;
        cursor: pointer;
        span:nth-of-type(1){
          float: left;
        }
        span:nth-of-type(2){
          float: right;
        }
      }
      li:hover{
        background-color: #FF6700;
      }
      div{
        width: 300px;
        height: 300px;
        background: #fff;
        position: absolute;
        top: 0;
        left:249px;
        font-size: 30px;
        text-align: center;
        line-height: 300px;
        color: red;
        display: none;
      }
    }
  }
}

.xg{
  width: 1200px;
  margin: 20px auto;
  ul{
    li{
      float: left;
      width: 296px;
      height: 160px;
      margin-left: 20px;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
      }
      a{
        display: block;
      }
    }
    li:nth-of-type(1){
      margin: 0;
      width: 250px;
      background-color: #5F5750;
      ul{
        width: 250px;
        height: 80px;
        li{
          float: left;
          width: 82px;
          height: 58px;
          padding: 10px 0;
          margin: 0;
          text-align: center;
          color: #ccc;
          font-size: 14px;
          img{
            width: 25px;
            height: 27px;
          }
        }
        li:nth-of-type(2){
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
        }
        li:hover{
          color: #fff;
          transition: 0.1s;
        }
      }
      ul:nth-of-type(2){
        border-top: 1px solid #ccc;
      }

    }
    .li2:hover{
      box-shadow: 0 2px 10px grey;
      transition: 0.1s;
    }
  }
}

.mx{
  width: 1200px;
  margin: 20px auto;
  position: relative;
  .left{
    width: 1000px;
    float: left;
    padding: 10px 0;
  }
  .right{
    float: right;
    text-align: center;
    width: 108px;
    span{
      padding: 4px 19px;
      border: 1px solid #ccc;
      float: left;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
    }
    .active{
      color: #FF6700;
    }
  }

  ul{
    li{
      padding: 20px 0;
      width: 224px;
      float: left;
      background-color: #FAFAFA;
      margin-left: 20px;
      text-align: center;
      line-height: 30px;
      img{
        width: 180px;
      }
      p:nth-of-type(1){
        font-size: 14px;
      }
      p:nth-of-type(2){
        font-size: 12px;
        color: #ccc;
      }
      p:nth-of-type(3){
        font-size: 14px;
        color: orangered;
      }

    }
    li:nth-of-type(1){
      margin: 0;
    }
  }
  ul:nth-of-type(2){
    position: absolute;
    top:39px;
    left: 0;
    display: none;
  }
}



.content{
  background-color: #F5F5F5;
  padding-bottom: 30px;
  .k{
    .top{
      padding: 20px 0;
      padding-top: 30px;
      h3{
        float: left;
      }
      ul{
        float: right;
        li{
          float: left;
          margin:0  10px ;
        }
        li:nth-of-type(1){
          color: orangered;
          border-bottom: 2px solid orangered;
        }
      }
    }
    .bottom{
      .left{
        float: left;
        width: 250px;
        div{
          height: 318px;
          cursor: pointer;
        }
        div:nth-of-type(1){
          margin-bottom: 20px;
        }
        img{
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
      .right{
        width: 950px;
        float: left;
        ul{
          li{
            width: 217px;
            margin-left: 20px;
            margin-bottom: 20px;
            background-color: #fff;
            float: left;
            text-align: center;
            line-height: 30px;
            padding: 20px 0;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            img{
              width: 180px;
            }
            p:nth-of-type(1){
              font-size: 1.2px;
            }
            p:nth-of-type(2){
              font-size: 1.0px;
              color: #ccc;
            }
            p:nth-of-type(3){
              color: orangered;
              font-size: 1.2px;
              s{
                color: #ccc;
              }
            }
            .dw{
              width: 80px;
              position: absolute;
              top:0;
              left: 50%;
              margin-left: -40px;
              font-size: 14px;
              color: #fff;
            }
           .con{
              width: 217px;
              background-color: #FF6700;
              height: 51px;
              position: absolute;
              top: 321px;
              left: 0;
              p{
                color: #fff;
                padding: 0;
                line-height: 15px;
                margin: 0 30px;
              }
              p:nth-of-type(1){
                font-weight: bold;
                margin-bottom: 10px;
              }
              p:nth-of-type(2){
                color: #fff;
              }
            }
          }
          li:nth-of-type(8){
            background-color: transparent;
            padding: 0;
            .top{
              padding: 44.5px 0;
              background-color: #fff;
              font-size: 1.0px;
              .left{
                float: left;
                width: 137px;
                p:nth-of-type(2){
                  color: orangered;
                }
              }
              .right{
                width: 71px;
                height: 52px;
                float: left;
                img{
                  width: 73px;
                  height: 100%;
                }
              }
            }

            .top:nth-of-type(1){
              margin-bottom: 20px;
            }
          }
        }
      }
      .yy:hover{
        transform: translateY(-4px);
        box-shadow: 0 10px 5px grey;
        transition: 0.1s;
      }
    }

    .tj{
      .left{
        width: 1000px;
        float: left;
        padding: 10px 0;
      }
      .right{
        float: right;
        text-align: center;
        width: 108px;
        span{
          padding: 4px 19px;
          border: 1px solid #ccc;
          float: left;
          font-weight: bold;
          font-size: 16px;
          cursor: pointer;
        }
      }

      ul{
        li{
          padding: 20px 0;
          width: 224px;
          float: left;
          background-color: #fff;
          margin-left: 20px;
          text-align: center;
          line-height: 30px;
          img{
            width: 180px;
          }
          p:nth-of-type(1){
            font-size: 14px;
          }
          .price{
            font-size: 14px;
            color: orangered;
          }
          .zi{
            font-size: 12px;
            color: #ccc;
          }

        }
        li:nth-of-type(1){
          margin: 0;
        }
        li:hover{
          transform: translateY(-4px);
          box-shadow: 0 10px 10px grey;
          transition: 0.1s;
        }
      }
    }

    .rp{
      padding: 20px 0;
      padding-top: 30px;
      h3{
        padding-bottom: 10px;
      }
      ul{
        li{
          float: left;
          width: 285px;
          background-color: #fff;
          margin-left: 20px;
          img{
            width: 100%;
            height: 213.1px;
          }
          .bottom{
            padding: 20px;
            font-size: 14px;
            p:nth-of-type(2){
              font-size: 12px;
              color: #ccc;
              padding: 10px 0;
            }
            p:nth-of-type(3){
              font-size: 14px;
              color: orangered;
              span:nth-of-type(1){
                color: #000;
                padding-right: 10px;
                border-right: 1px solid #ccc;
              }
            }
          }
        }
        li:nth-of-type(1){
          margin: 0;
        }
        li:hover{
          transform: translateY(-4px);
          box-shadow: 0 10px 10px grey;
          transition: 0.1s;
        }
      }
    }

    .con{
      padding: 20px 0;
      padding-top: 30px;
      h3{
        padding-bottom: 10px;
      }
      ul{
        li{
          float: left;
          background-color: #fff;
          width: 245px;
          margin-left: 20px;
          text-align: center;
          line-height: 25px;
          padding: 20px;
          font-size: 12px;
          p:nth-of-type(1){
            font-size: 14px;
            color: orangered;
          }
          p:nth-of-type(2){
            font-size: 16px;

          }
          p:nth-of-type(3){
            font-size: 12px;
            color: #ccc;
            height: 50px;
          }
          p:nth-of-type(4){
            height:25px;
          }

          ul{
            padding: 0;
            width: 72px;
            margin: 10px auto;
            text-align: center;
            li{
              width: 10px;
              height:10px;
              border-radius: 50%;
              background-color: #ccc;
              padding: 0;
            }
            li:nth-of-type(1){
              border: 1px solid red;
              background-color: transparent;
            }
          }
        }
        li:nth-of-type(1){
          margin: 0;
        }
        li:hover{
          transform: translateY(-4px);
          box-shadow: 0 10px 10px grey;
          transition: 0.1s;
        }
      }
    }

    .sp{
      .top{
        padding: 20px 0;
        padding-top: 30px;
        h3{
          float: left;
          width: 1100px;
        }
        p{
          float: right;
          width: 100px;
          span{
            float: left;
          }
          span:nth-of-type(2){
            width: 20px;
            height: 20px;
            background-color: #ccc;
            text-align: center;
            line-height: 20px;
            color: #fff;
            border-radius: 50%;
            margin-left: 5px;
          }
        }
      }
      .bottom{
        ul{
          li{
            float: left;
            background-color: #fff;
            width: 285px;
            margin-left: 20px;
            img{
              width: 100%;
            }
            p{
              font-size: 12px;
              text-align: center;
              padding-top: 20px ;
            }
            p:nth-of-type(2){
              padding: 12px;
              color: #ccc;
            }
          }
          li:nth-of-type(1){
            margin: 0;
          }
          li:hover{
            transform: translateY(-4px);
            box-shadow: 0 10px 10px grey;
            transition: 0.1s;
          }
        }
      }
    }
  }
}

.footer{
  width: 1200px;
  margin: 0 auto;
  .top{
    ul{
      padding: 30px 0;
      li{
        float: left;
        padding: 0px 49px;
        border-right: 1px solid #ccc;
        img{
          float: left;
          margin: 0 10px;
        }
        span{
          float: left;
        }
      }
      li:nth-of-type(5){
        border: 0;
      }
    }
  }
  .bottom{
    padding: 20px 0;
    .left{
      width: 1000px;
      float: left;
      border-right: 1px solid #ccc;
      ul{
        margin-right: 100px;
        float: left;
        li{
          font-size: 12px;
          line-height: 25px;
        }
        li:nth-of-type(1){
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    .right{
      width: 190px;
      padding: 10px 0;
      float: right;
      text-align: center;
      p{
        font-size: 14px;
        color: #ccc;
      }
      p:nth-of-type(1){
        font-size: 20px;
        color: orangered;
        margin-bottom: 10px;
      }
      p:nth-of-type(4){
        width: 110px;
        padding: 5px ;
        border: 1px solid orangered;
        color: orangered;
        margin: 20px auto;
        img{
          float: left;
          margin: 4px 0;
        }
        span{
          float: left;
          margin-left: 10px;
        }
      }
    }
  }
}

.footer1{
  background-color: #FAFAFA;
  .k{
    padding: 30px 0;
    .left{
      float: left;
      margin-right: 10px;
    }
    .middle{
      float: left;
      ul{
        li{
          float: left;
          font-size: 12px;
          padding: 0 5px;
          border-right: 1px solid #ccc;
        }
        li:nth-last-of-type(1){
          border: none;
        }
      }
      p{
        font-size: 12px;
        color: #ccc;
      }
    }
    .right{
      float: right;
      ul{
        li{
          float: left;
          width: 90px;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .xm{
    width: 1200px;
    margin: auto;
    text-align: center;
    font-size: 22px;
    color: #ccc;
    font-family: "楷体";
    padding: 10px 0;
  }
}

